<!-- Buttom style: <nav class="nav nav-pills">-->
<nav class="nav">
  <a class="nav-link" *ngFor="let item of items" [routerLink]="item.url" routerLinkActive="active">{{item.nombre}}</a>
</nav>
<hr style="margin-top: 0;">