<div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">Bienvenido a PcStore</h4>
    <p>Ac&aacute; prodra comprar los componentes de su PC de escritorio y hasta pedirlo totalmente armado!</p>
    <hr>
    <p class="mb-0">La TRM en &eacute;ste momento es: <b>{{trm}}</b></p>
</div>
