<h2 class="text-center">Listado de Componentes</h2>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Precio</th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pcPart of pcPartList; index as i">
            <th scope="row">{{ i+1 }}</th>
            <td>{{pcPart.name}}</td>
            <td>{{pcPart.type}}</td>
            <td>{{pcPart.price | currency}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="addToCart(pcPart)">
                    <fa-icon [icon]="faCart"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>