<div class="alert alert-warning" role="alert" *ngIf="currentOrder.orderComponents == null">
    <h4 class="alert-heading">No ha agregado componentes!</h4>
    <p>Por favor dir&iacute;jase al men&uacute; de <b>Componentes</b> y agregue los componentes que desea comprar.</p>
</div>


<!-- <ol>
    <li>Buyer Name: {{currentOrder.buyerName == undefined}}</li>
    <li>Elementos: {{currentOrder.orderComponents == null || currentOrder.orderComponents.length == 0}}</li>
    <li *ngFor="let comp of currentOrder.orderComponents; index as i">{{comp.name}}</li>
</ol> -->


<div class="row" *ngIf="currentOrder.orderComponents != null">
    <!-- component list -->
    <div class="col-lg-8 col-xl-6">
        <h5 class="text-center">RESUMEN DE SU ORDEN</h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pcPart of currentOrder.orderComponents; index as i">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{pcPart.name}}</td>
                    <td>{{pcPart.type}}</td>
                    <td>{{pcPart.price | currency}}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteFromCart(pcPart)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">Total<br><small class="text-muted">*El valor final se calcula al crear la orden</small></th>
                    <td>{{getOrderTotalPrice() | currency}}</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- order data -->
    <div class="col-lg-4 col-xl-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">DATOS DE LA ORDEN</h5>
                <form [formGroup]="orderForm" (ngSubmit)="submitOrder()">
                    <div class="form-group">
                        <label for="buyerName">Nombre*</label>
                        <input type="text" class="form-control" id="buyerName" aria-describedby="nameHelp" formControlName="buyerName">
                        <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="buyerIdNumber">N&uacute;mero de Identificaci&oacute;n*</label>
                        <input type="number" class="form-control" id="buyerIdNumber" formControlName="buyerIdNumber">
                    </div>
                    <div class="form-group">
                        <label for="buyerEmail">Email</label>
                        <input type="email" class="form-control" id="buyerEmail" formControlName="buyerEmail">
                    </div>
                    <div class="form-group">
                        <label for="buyerPhoneNumber">N&uacute;mero de Tel&eacute;fono*</label>
                        <input type="tel" class="form-control" id="buyerPhoneNumber" formControlName="buyerPhoneNumber">
                    </div>
                    <div class="form-group">
                        <label for="buyerAddress">Direcci&oacute;n*</label>
                        <input type="text" class="form-control" id="buyerAddress" formControlName="buyerAddress">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="buildingService" aria-describedby="serviceHelp" formControlName="buildService">
                        <label class="form-check-label" for="buildingService">Servicio de armado</label>
                        <small id="serviceHelp" class="form-text text-muted">*Es necesario comprar todas las partes del PC</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Ordenar</button>
                </form>
            </div>
        </div>
    </div>
</div>