<div class="form-inline">
    <div class="form-group">
        <label for="trackingCode">C&oacute;digo de seguimiento</label>
        <input type="text" class="form-control mx-sm-3" id="trackingCode" #trackingCode>
    </div>
    <button class="btn btn-primary" (click)="findOrder(trackingCode.value)">Buscar</button>
</div>

<hr>

<div class="alert alert-warning" role="alert" *ngIf="myOrder == null">
    <h4 class="alert-heading">No se encontraron resultados!</h4>
    <p>El c&oacute;digo de seguimiento ingresado no arrojo ning&uacute;n resultado.
        S&iacute; todav&iacute;a no ha realizado una busqueda, puede realizarla mediante el cuadro de busqueda que hay en la parte superior.</p>
</div>

<section *ngIf="myOrder != null">
    <dl class="row">
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">{{myOrder.buyerName}}</dd>
        
        <dt class="col-sm-3">N&uacute;mero de identificaci&oacute;n</dt>
        <dd class="col-sm-9">{{myOrder.buyerIdNumber}}</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">{{myOrder.buyerEmail}}</dd>

        <dt class="col-sm-3">Tel&eacute;fono</dt>
        <dd class="col-sm-9">{{myOrder.buyerPhoneNumber}}</dd>

        <dt class="col-sm-3">Direcci&oacute;n</dt>
        <dd class="col-sm-9">{{myOrder.buyerAddress}}</dd>

        <dt class="col-sm-3">Servicio de armado</dt>
        <dd class="col-sm-9">{{myOrder.buildService ? 'SI' : 'NO'}}</dd>

        <dt class="col-sm-3">Estado</dt>
        <dd class="col-sm-9">{{convertStatusToReadable(myOrder.status)}}</dd>

        <dt class="col-sm-3">Fecha del pedido</dt>
        <dd class="col-sm-9">{{myOrder.placementDate}}</dd>

        <dt class="col-sm-3">{{myOrder.status == 'PROCESSING' ? 'Fecha estimada de env&iacute;o' : 'Fecha de env&iacute;o'}}</dt>
        <dd class="col-sm-9">{{myOrder.shippingDate}}</dd>

        <dt class="col-sm-3">{{myOrder.status == 'PROCESSING' || myOrder.status == 'SHIPPED' ? 'Fecha estimada de entrega' : 'Fecha de entrega'}}</dt>
        <dd class="col-sm-9">{{myOrder.deliveredDate}}</dd>

        <dt class="col-sm-3">Valor Total</dt>
        <dd class="col-sm-9">{{myOrder.orderPrice | currency}}</dd>
    </dl>

    <h5 class="text-center">COMPONENTES</h5>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comp of myOrder.orderComponents; index as i">
                <th scope="row">{{ i+1 }}</th>
                <td>{{comp.name}}</td>
                <td>{{comp.type}}</td>
                <td>{{comp.price | currency}}</td>
            </tr>
        </tbody>
    </table>
</section>
